<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='abcscript.js') }}"></script>
</head>
<body>
    <main>
        <div class="container">
            <div class="form-box">
                <h2>Sign In</h2>
                <p class="subtext">Welcome!</p>
                <form method="post" action="/add_user" id="signupForm" onsubmit="return validatePassword()">
                    <input type="text" name="username" id="username" placeholder="Username" required>
                    <input type="email" name="email_id" id="email" placeholder="Email" required>
                    <input type="password" name="password" id="password" placeholder="Password" required>
                    <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Verify Password" required>
                    <p id="error-message" class="error"></p>
                    <button type="submit" class="login-btn">Sign In</button>
                </form>
                <a href="/" class="signup-btn">Already have an account? Log In</a>
            </div>
        </div>
    </main>
</body>
</html>